{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <title>YKK COLOR PALETTE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- my css -->
  <link rel="stylesheet" href="{% static 'colorpallet/main.css' %}">

  <script src="https://kit.fontawesome.com/a233f321ff.js" crossorigin="anonymous"></script>

  <style type="text/css">
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .nav-link{
    color: #000000;
  }

  </style>

</head>
<body>
  <ul class="nav navbar-light bg-light">
    <li class='nav-item'>
      <a class="navbar-brand nav-link  my-2 my-lg-0 " href="{% url 'colorpallet:index' %}">HOME</a>
    </li>
    <li class="nav-item dropdown mr-auto">
      <a class="nav-link dropdown-toggle  my-2 my-lg-0 " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{% url 'admin:index' %}">探す<span class="sr-only">(current)</span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="{% url 'colorpallet:column_search' %}">列で探す</a></li>
        <li><a class="dropdown-item" href="{% url 'colorpallet:colortype_search' %}">色の系統で探す</a></li>
      </ul>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item ">
      <a class="nav-link " href="{% url 'admin:index' %}">管理画面</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0" id="sform" method='GET' action="{% url 'colorpallet:color_search' %}">
        <input class="form-control mr-sm-2" id="sbox" type="text" placeholder="色番を入力" aria-label="Search" name='keyword' size="15">
        <button type="submit" id="sbtn" name="button"><i class="fas fa-search"></i></button>
        {% csrf_token %}
      </form>
    </li>
  </ul>



  <div class="container">
    <section class='text-center mt-3 mb-5'>
      <h1 class="mb-3" >YKK Color Pallete</h1>
      <p class="text-muted mb-0">YKKのカラー見本です。</p>
      <p class="text-muted">正確には現物カタログを参照ください。</p>
    </section>

    {% block content %}
    {% endblock %}
  </div>

  <footer class='bg-dark text-white text-center py-3 footer'>
    <p>問い合わせ先</p>
    <p>mailto: ryoko.kataguchi.zn@ykk.com</p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

  {% block extrajs %}{% endblock %}
  <script src="{% static 'colorpallet/Sortable.min.js' %}"></script>
  <script>
  if(!navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
    $(function(){
      Sortable.create(listWithHandle,{
        animation: 150,
      });
    });
  }
</script>
</body>
</html>
