{% extends 'colorpallet/base.html' %}

{% block content %}

<form id="type-confirm" method='GET' action="{% url 'colorpallet:colortype_search' %}">
  <button class="btn" type="submit" ></button>
  {% csrf_token %}

  <div class="row all_type" style='margin-bottom:10px'>
    {% for type in colortype_list|dictsort:"id"  %}
    <div class='type-body'>
      <label class='checkbox2'>
        <input type="checkbox" name="colortype_tag" value="{{ type.pk }}" class="colortype_id" id="colortype_{{ type.pk }}">
        <p class="name2">{{ type.type }}</p>
      </label>
    </div>
    {% endfor %}
  </div>
</form>

<div class="mb-2 mt-4">
  {% for item in select_type  %}
  <p class="text-dark">< {{ item.type }} ></p>
  {% endfor %}
</div>


<div class="row all_color" id='listWithHandle'>
  {% for item in queryset|dictsort:"index_number"  %}
  <div class="item-body2 col-2 col-sm-1" >
    <p class="index-number">{{ item.index_alphabet }}-{{ item.index_number }}</p>
    {% if item.name !=　"#501" %}
    <div class='content' style='background-color:#{{ item.color_code }};'></div>
    {% else %}
    <div class='content' style='background-color:#{{ item.color_code }}; border:1px solid #B3B8BB;'></div>
    {% endif %}
    <p class="name">{{ item.name }}</p>
  </div>
  {% endfor %}
</div>


{% endblock %}



{% block extrajs %}
<script>


  document.addEventListener('DOMContentLoaded', e => {

    const searchForm = document.getElementById('type-confirm');

    for (const check of document.getElementsByName('colortype_tag')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }
  });


</script>
{% endblock %}
